body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
    }
h1,h2,h3{
    line-height:1.2;
    color:#2f119e;
    text-align: center;
    }
img {
    margin: 20px 120px;
    width: 50%;
}
.psy {
    margin: auto 235px;;
}
/* #body {
    background-color: magenta;
} */
